#top-header {
    padding-top: 10px;
    top: 0;
}

#logo {
    width: inherit;
    height: inherit;
}

#home-image-container{
    margin-bottom: 20px;

    #yoga-image {
        border-radius: 4px;
    }
}

span.icon-text {
    margin-left: 5px;
}

.center-content {
    text-align: center;
}

#navbar .nav i {
    margin-right: 5px;
    color: $brand-color;
    display: none;
}

.panel-brand {
    >.panel-heading {
        color: #fff;
        border-color: $brand-color;
        background: $brand-color;
        background: -webkit-linear-gradient(right, rgba(93,191,206,0.5), rgba(93,191,206,1)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(left, rgba(93,191,206,0.5), rgba(93,191,206,1)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(left, rgba(93,191,206,0.5), rgba(93,191,206,1)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to left, rgba(93,191,206,0.5), rgba(93,191,206,1)); /* Standard syntax (must be last) */

        a {
            text-decoration: none;
            width: 100%;
            display: block;

            &:visited {
                text-decoration: none;
            }
        }
    }

}


.package-list {
    list-style: disc;
    margin-left: 17px;
}

.about-yoga-list {
    list-style: disc;
    margin-left: 17px;
    margin-top: 10px;
}

.panel-body i.fa-heart-o {
    margin-right: 5px;
    color: $brand-color;
}

.strapline-text {
    font-family: "Ubuntu", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: $brand-color;
    margin-bottom: 20px;
}

.text-small {
    font-size: 24px;
}

#image-float-right {
    width: 30%;
    height: 30%;
    border-radius: 4px;
    float: right;
    margin-left: 10px;
}

#image-float-left {
    width: 30%;
    height: 30%;
    border-radius: 4px;
    float: left;
    margin-right: 10px;
}

