
#contact-form {
    padding-bottom: 30px;
    padding-top: 20px;

    .form-group {

        #nameValidation, #emailValidation, #messageValidation {
            display: none;
        }

        .input-group {

            &.form-error {
                .input-group-addon {
                    border-bottom-color: #d9534f;
                    border-left-color: #d9534f;

                    i {
                        color: #d9534f;
                    }
                }

                input {
                    border-bottom-color: #d9534f;
                }

                textarea {
                    border-bottom-color: #d9534f;
                }
            }

            .input-group-addon {
                background: #fff;
                border: 0;
                border-bottom: 1px solid $brand-color;
                border-left: 3px solid $brand-color;
                border-radius: 0;

                i {
                    color: $brand-color;
                }
            }

            input {
                border: 0;
                box-shadow: none;
                border-bottom: 1px solid $brand-color;
                border-radius: 0;
            }

            textarea {
                min-height: 100px;
                max-height: 150px;
                border: 0;
                border-bottom: 1px solid $brand-color;
                border-radius: 0;
                box-shadow: none;
            }
            
        }
    }

    .btn-default {
        color: $brand-color;
    }


}

@media screen and (max-width: 768px) {
    #contact-form {
        padding-bottom: 20px;
        padding-top: 10px;

        .form-group {
            .input-group {
                .input-group-addon {
                    border-left: 0;
                }
            }
        }
    }
}