#footer{
    margin-top: 30px;

    .footer-block {
        border-right: 1px solid $brand-color;

        &:last-child {
            border-right: 0;
        }
    }

    div#footer-right {
        i {
            margin-right: 5px;

            &.fa-facebook-square {
                color: #3b5998;
            }

            &.fa-instagram {
                color: #833ab4;
            }
        }
    }
}