.react-blueimp-thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.react-blueimp-thumbnails>a>img {
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.react-blueimp-thumbnails>a {
    border: 1px solid $border-color;
    border-radius: 4px;
    margin: 5px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-align: center;
}