.navbar-default {
    background-color: #fff;
    border: 0;
    border-top: 1px solid #5dbfce;
    border-bottom: 1px solid #5dbfce;
    border-radius: 0;
}

.navbar-header{
    text-align:center;
}

.navbar-toggle {
    float: none;
    margin-right:0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav>li>a.active-link {
    color: #5dbfce ;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.panel-brand {
    border: 1px solid #5dbfce;
}
/*
.panel-brand:hover {
    -webkit-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.51) !important;
    -moz-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.51) !important;
    box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.51) !important;
}
*/
.page-header-title {
    color: #5dbfce;
    text-align: center;
}

.page-header {
    margin-top: 0;
    
}
